.home {
  height: 2000px;
  background-image: url("../images/penguin-background-tile.gif"); }

.visitors {
  color: white;
  background-color: red; }

table {
  width: 100%; }
  table td {
    text-align: center;
    padding: 20px; }

button {
  background-color: red;
  color: green;
  font-size: 20px; }

.stopModal {
  display: none;
  position: fixed;
  top: 20px;
  background-color: red;
  color: white; }

.modal-body {
  height: 600px;
  width: 800px;
  background-color: red; }
  .modal-body iframe {
    width: 100%;
    height: 100%; }

body.jokes {
  background-image: url("../images/snow-background-tile.gif");
  text-align: center;
  position: relative;
  max-height: 100vh;
  overflow: hidden; }

.rowOne {
  background-color: red;
  padding: 10px;
  width: 53%;
  margin: auto;
  border-radius: 50px;
  color: #fff;
  font-family: 'Fontdiner Swanky', cursive; }

.joke {
  width: 75%;
  margin: auto;
  font-family: 'Kranky', sans serif; }

#questionDisplay {
  font-size: 75px;
  color: rgba(255, 0, 0, 0.92);
  border-radius: 56px;
  line-height: 63px;
  padding: 50px; }

h3#answerDisplay {
  font-size: 30px;
  color: #fff;
  width: 65%;
  margin: auto;
  padding: 10px 0;
  border: 8px dashed; }

p.credit {
  font-size: 11px; }

blink {
  -webkit-animation: blink 1s steps(2, start) infinite;
  -moz-animation: blink 1s steps(2, start) infinite;
  -o-animation: blink 1s steps(2, start) infinite;
  animation: blink 1s steps(2, start) infinite; }

@-webkit-keyframes blink {
  to {
    visibility: hidden; } }

@-moz-keyframes blink {
  to {
    visibility: hidden; } }

@-o-keyframes blink {
  to {
    visibility: hidden; } }

@keyframes blink {
  to {
    visibility: hidden; } }

.snowball {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url("../images/snow-background-tile.gif"); }
  .snowball #main-sprite {
    width: 60px;
    position: absolute;
    left: calc(50vw - 20px);
    top: calc(50vh - 50px); }
  .snowball .snowball-sprite {
    width: 40px;
    height: 40px; }
  .snowball .snow-splat {
    height: 100vh;
    margin-left: auto;
    margin-right: auto; }
  .snowball .lostMessage {
    position: absolute;
    top: 45%;
    text-align: center;
    width: 100%; }

.songs table td {
  background-color: red; }

.songTitle, .songLyrics {
  background-color: rgba(255, 0, 0, 0.68);
  color: #fff;
  font-family: cursive;
  border-radius: 20px; }

body {
  overflow-x: hidden;
  background-image: url("../images/winter-clothes-kid.jpg"); }

.lights {
  position: fixed; }

#lights1 {
  width: 128%;
  left: -100px;
  top: -68px; }

#lights2 {
  height: 120%;
  top: -100px;
  left: -50px; }

#lights3 {
  height: 120%;
  top: 28px;
  left: -81px;
  transform: rotate(180deg); }

#lights4 {
  height: 120%;
  right: -81px;
  top: -41px;
  transform: rotate(180deg); }

#lights5 {
  height: 120%;
  right: -109px;
  top: -50px;
  transform: scaleX(-1); }

h1.songsHeader {
  text-align: center;
  color: #e6da24;
  padding: 28px;
  font-size: 100px;
  font-family: cursive;
  background-image: url(../images/holly-tile.gif);
  width: 59%;
  margin: 10px auto;
  position: relative;
  border-radius: 100px; }

.songs table {
  width: 90%;
  margin-left: 56px;
  margin-top: 0; }

.songTitle, .songLyrics {
  border-radius: 23px;
  padding: 10px;
  color: #fff;
  font-family: fantasy; }

.songs table td {
  vertical-align: top; }

.odd {
  background-color: rgba(0, 239, 0, 0.44); }

.even {
  background-color: rgba(255, 16, 16, 0.44); }

.home {
  height: 2000px;
  background-image: url("../images/penguin-background-tile.gif"); }

.visitors {
  color: white;
  background-color: red; }

table {
  width: 100%; }
  table td {
    text-align: center;
    padding: 20px; }

button {
  background-color: red;
  color: green;
  font-size: 20px; }

.stopModal {
  display: none;
  position: fixed;
  top: 20px;
  background-color: red;
  color: white; }

.modal-body {
  height: 600px;
  width: 800px;
  background-color: red; }
  .modal-body iframe {
    width: 100%;
    height: 100%; }
