.jokes {
  background-image: url("../images/snow-background-tile.gif");
  height: 150vh; }

#jokesTitle {
  color: #1d7d23; }

.home {
  height: 2000px;
  background-image: url("../images/penguin-background-tile.gif"); }

table {
  width: 100%; }
  table td {
    text-align: center;
    border: 1px solid red;
    padding: 20px; }

button {
  background-color: red;
  color: green;
  font-size: 20px; }

.stopModal {
  display: none;
  position: fixed;
  top: 20px;
  background-color: red;
  color: white; }

.modal-body {
  height: 600px;
  width: 800px;
  background-color: red; }
  .modal-body iframe {
    width: 100%;
    height: 100%; }
